pre {
  margin-top: 8px;
  margin-bottom: 12px;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 0.75em;
  overflow-x: auto;
  @media (prefers-color-scheme: dark) {
    background-color: #1e1e1e;
    border-color: #333;
  }
}

code {
  font-family: 'Fira Code', monospace;
  font-size: 1em;
  color: #333;
  @media (prefers-color-scheme: dark) {
    color: #fff;
  }
}

pre code {
  display: block;
  padding: 0;
  margin: 0;
  background: none;
  border: none;
}

.chat-message {
  hr {
    @apply my-6 border-gray-200 dark:border-gray-700;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply mt-6 mb-3 font-bold text-gray-900 dark:text-white;
  }

  ul,
  ol {
    @apply mt-2 mb-3 list-inside;
  }

  ol {
    @apply list-decimal;
  }
  ul {
    @apply list-disc;
  }

  blockquote {
    @apply border-l-4 pl-4 text-gray-500 italic dark:text-gray-400;
  }

  table {
    @apply mt-2 mb-3;
    tr {
      @apply border-t border-l border-gray-200 dark:border-gray-700;
    }
    th,
    td {
      @apply border-r border-b border-gray-200 px-4 py-2 dark:border-gray-700;
    }
  }
}
